
%csstable.container
  %csstable.header
    %h1 A simple address book

  %csstable.content
    %h2 My contacts
    #csstable.csstable
      %p.firstLine
        %span.col1 Name
        %span.col2 Email
        %span.col3 Address
        %span.col4 Number
        %span.col5 &nbsp
      - @contacts.each do |contact|
        %p
          %span.col1= best_in_place contact, :name
          %span.col2= best_in_place contact, :email
          %span.col3= best_in_place contact, :address
          %span.col4= best_in_place contact, :number
          %span.col5= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }
    
    = will_paginate @contacts 
    %p
      = link_to 'All contacts', contacts_path

  %csstable.sidebar
    %h3 New Contact
    = form_for :contact, url: contacts_path do |f|
      %p
      = f.label :name
      = f.text_field :name
      %p
        = f.label :email
        = f.text_field :email
      %p
        = f.label :address
        = f.text_field :address
      %p
        = f.label :number
        = f.text_field :number
      %ul
        - if params[:notice]
          - params[:notice].to_a.each do |msg|
            %li
              = msg
        - else
          %li
            All fields required
      %p
        = f.submit

    %h3 Search Contact
    = form_tag contacts_path, :method => 'get' do
      %p
        = text_field_tag :search, params[:search]
        = submit_tag "Search", :name => nil